* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
   
}


h1, h2  {
    text-align: center;
}

.dimSum-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    margin-top: 40px;
}

img {
    display: block;
    width: 300px;
    height: 225px;
    margin: 10px auto 5px auto;    
}